
.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}
#about {
    padding-top: 14rem;
}
section {
    padding-top: 6rem;
}
.gallert-img {
    width: 100%;
}
#gallery .row > * {
    padding: 0;
}